[user]
	email = kalt.steven@gmail.com
	name = Steven Kalt
[alias]
	; common aliases -----------------------------------------------------------
	; alias 'git git' to 'git' to avoid copy-pasting errors
	git = !git
	co = checkout
	s = status --short
	lo = log --oneline

	; advanced, less-frequently-used aliases -----------------------------------
	find-branch = !git branch --list "*$1*"
	fb = find-branch
	root = rev-parse --show-toplevel
	current-branch = rev-parse --abbrev-ref HEAD
	; git-history is a git extension in ~/bin
	h = "!f(){ git history; }; f"
	path = !pretty-path
	dark-mode = config core.pager 'delta --theme=\"Solarized (dark)\"'
	light-mode = config core.pager 'delta --theme=\"Solarized (light)\"'

	; fun stuff ----------------------------------------------------------------
	gud = "!f() { echo \"GIT GUD\" | figlet -c ; }; f"
	tt = time-travel

[includeIf "gitdir:~/work/"]
	path = ~/work/.gitconfig

[includeIf "gitdir:/Users/"]
	path = ~/.dotfiles/osx.gitconfig

[includeIf "gitconfig:/home/"]
	path = ~/.dotfiles/linux.gitconfig
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
